{erl_opts, [debug_info]}.
{deps, [
]}.

{plugins, [
    {rebar3_efene_compile, {git, "https://github.com/efene/rebar3_efene_compile.git", {branch, "master"}}},
    {rebar3_efene_ct, {git, "https://github.com/efene/rebar3_efene_ct.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{ct, {efene, ct}}, {compile, {efene, compile}}]}
]}.
